@model WebApplication3.Models.AddressViewModels.AddressListViewModel
@{
    ViewData["Title"] = "住所管理";
}
<style type="text/css">
    .panel-heading {
        cursor: pointer;
    }

    .accordion-toggle a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e113";
        float: right;
        color: inherit;
    }

    .accordion-toggle a.collapsed:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: inherit;
    }
</style>

<h2>@ViewData["Title"]</h2>
<section>
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title accordion-toggle">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">検索条件 </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Title" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Title" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="PostalCode" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-4">
                                <input asp-for="PostalCode" maxlength="7" class="form-control" onchange="checkPostalCode()"/>
                            </div>
                            <div class="col-md-2">
                                <input type="button" onclick="setState()" value="郵便番号検索" class="btn btn-warning">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Prefectures" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Prefectures" maxlength="10" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Ctiy" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Ctiy" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Block" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Block" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Building" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Building" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-2">
                                <label asp-for="Remarks" style="padding-left:30px"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Remarks" maxlength="50" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" style="width:100px" class="btn btn-info">検索</button>
                            <button onclick="Clear()" style="width:100px" class="btn btn-default">クリア</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        検索結果件:@ViewData["DataCount"]件　<a asp-area="" asp-controller="Address" asp-action="Address">登録</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="success">
                <th style="width:4%"></th>
                <th style="width:4%"></th>
                <th style="width:30%">タイトル</th>
                <th style="width:7%">郵便番号</th>
                <th style="width:40%">住所</th>
                <th style="width:15%">更新日</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AddressList)
            {
            <tr>
                <td><a asp-action="Address" asp-route-id="@item.AddressID">編集</a></td>
                <td><a asp-action="Delete" asp-route-id="@item.AddressID">削除</a></td>
                <td>@item.Title</td>
                <td>@item.PostalCode</td>
                <td>@item.FullAddress</td>
                <td>@item.UpdateTime</td>
            </tr>
            }

        </tbody>
    </table>

</section>
<script>
    // クリア
    function Clear() {
        $('#Title').val('');
        $('#PostalCode').val('');
        $('#Prefectures').val('');
        $('#Ctiy').val('');
        $('#Block').val('');
        $('#Building').val('');
        $('#Remarks').val('');
    }

</script>

@Html.Partial("_AddressSearch")

